body {
	background-color: #B0C400;
}
#main-header {
	color:red;
	margin: 0;
}
.main-description {
    right: 80px;
}

.exercise {
	font-family: calibri;
	background: #eee;
	padding: 5px 10px 5px 10px;
	border: 3px solid #ffaaaa;
	margin: 0 0 10px 0;
	list-style: none;
}
.exercise-description  {
	font-size: 14px;
}
.exercise-picture {
    width: 320px;
	max-width: 100%
}
.exercise-calories {
	background: #fff;
    padding: 2px 3px 2px 3px;
    border: 3px solid #ffaaaa;
}
.exercise {
  justify-content: space-between;
}
.vykhod {
	margin-left: 750px;
}
.exercise-shrunk .exercise-video-link {
	display: none;
}
.exercise-shrunk .exercise-description  {
	display: none
}
.exercise-toggle:before {
	content: "▼" ;
	
}
.exercise-shrunk .exercise-toggle:before  {
	content: "►" ;
}
.exercise-shrunk {
	width: max-content;
}

@media only screen and (min-width: 600px) {
	.exercise {
		display:flex;
	}
	body {
		background-color: #4a412a
	}
}

